modules/features/firstvoices-widgets/src/main/resources/OSGI-INF/data/schemas/widgets.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
  xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/First-Voices/widgets"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.nuxeo.org/ecm/project/schemas/First-Voices/widgets">

  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:element name="active" type="nxs:stringList"/><!-- active widgets -->
  <xs:element name="inactive" type="nxs:stringList"/><!-- inactive widgets -->
  <xs:element name="layout" type="xs:string"/>
</xs:schema>
